@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Oswald:wght@300;400;500;600;700&display=swap");

@font-face {
	font-family: "TWK";
	src: url("/fonts/TWKLausannePan-300.woff2") format("woff2");
	font-weight: 300;
}

@font-face {
	font-family: "TWK";
	src: url("/fonts/TWKLausannePan-400.woff2") format("woff2");
	font-weight: 400;
}

@font-face {
	font-family: "TWK";
	src: url("/fonts/TWKLausannePan-500.woff2") format("woff2");
	font-weight: 500;
}

@font-face {
	font-family: "TWK";
	src: url("/fonts/TWKLausannePan-600.woff2") format("woff2");
	font-weight: 600;
}

@font-face {
	font-family: "TWK";
	src: url("/fonts/TWKLausannePan-700.woff2") format("woff2");
	font-weight: 700;
}

@font-face {
	font-family: "TWK";
	src: url("/fonts/TWKLausannePan-800.woff2") format("woff2");
	font-weight: 800;
}

:root {
	--header-font: "TWK", sans-serif;
	--body-font: "TWK", sans-serif;
	--kw1c-font: "Oswald", sans-serif;

	--box-shadow: 2px 2px 0px #001d49;
	--box-shadow-medium: 0px 4px 6px -1px rgba(16, 24, 40, 0.1),
		0px 2px 4px -2px rgba(16, 24, 40, 0.1);

	--background: linear-gradient(180deg, rgba(235, 240, 242, 0) 0%, rgba(235, 240, 242, 0.57) 100%),
		#ffffff;

	--header-text-size: 2.25rem;
	--card-header-size: 1.25rem;
	--button-text-size: 1.125rem;
	--status-text-size: 1.125rem;
	--list-text-size: 1.125rem;
	--body-text-size: 1rem;
	--sub-text-size: 0.875rem;

	--kw1c-blue-900: #0e85c7;
	--kw1c-blue-300: #e5f1f9;
	--kw1c-red-900: #ed302f;

	--open-jobs-blue-900: #0a66c2;

	--bbc-background: #fffef7;
	--bbc-blue: #01445e;

	--future-tech-green: #205527;
	--future-tech-green-300: #7ab800;
	--future-tech-background: #f9f9f9;

	--primary-900: #01445e;
	--primary-700: #407285;
	--primary-500: #7d9fac;
	--primary-300: #bbccd2;

	--secondary-900: #f2bf5d;
	--secondary-700: #f4ce85;
	--secondary-500: #f6dcab;
	--secondary-300: #f7ebb2;

	--blue-900: #51a1cd;
	--blue-700: #7cb8d9;
	--blue-500: #a6cde3;
	--blue-300: #cfe3ee;

	--cyan-900: #97ced1;
	--cyan-700: #b0d9dc;
	--cyan-500: #c8e4e5;
	--cyan-300: #e1eeef;

	--red-900: #f25d5d;
	--red-700: #f48585;
	--red-500: #f6abab;
	--red-300: #f7d2d2;

	--green-900: #add197;
	--green-700: #c1dcb0;
	--green-500: #d3e5c8;
	--green-300: #e6efe1;

	--black-900: #34363c;
	--black-700: #5e5f67;
	--black-500: #898a93;
	--black-300: #b1b2be;

	--white-900: #cacbd6;
	--white-700: #e7e7ea;
	--white-500: #f4f4f8;
	--white-300: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--header-font);
	font-weight: 700;
	color: var(--header-text);
	padding: 0;
	margin: 0;
}

body {
	font-family: var(--body-font);
	font-weight: 400;
	color: var(--body-text);
	padding: 0;
	margin: 0;
	min-height: 100vh;
	background: var(--background);
}
